// Colors
$white: #ffffff;
$text-grey: #e2e2e2;
$primary: #5e1ee5;
$dark-grey: #131417;
$grey: #24252c;
$light-grey: #292a31;
$lighter-grey: #2f3038;

// Breakpoints
// Phones
$xs-bp: 320px;
// Potrait tablets
$sm-bp: 600px;
// Landscape tablets
$md-bp: 768px;
// Desktop
$lg-bp: 992px;
// Wide desktop
$xl-bp: 1200px;
